.alt_div{
    display:flex;
    justify-content: space-around;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto ;
    background-color: #9E9E9E;
    padding: 5px;
    width: 60%;
    margin: auto;
    margin-top: 30px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    height: 200px;
    width: 250;
    background-size: cover;
    animation: spin 1s linear 0.15s ;
  }

  .container {
    background:#9E9E9E;
    width:750px;
    height:160px;
    margin: 0 auto;
    padding:40px;
    border-radius:15px;
    font-size:35px;
  }
  .cube {
      margin: 0 auto;
     display:inline-block;
      width: 200px;
      height: 150px;
      -webkit-transition: -webkit-transform .33s;
      transition: transform .33s; /* Animate the transform properties */
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      background-size: cover;
      background-position: center;
  }
  
  .flip,.flop {
      -webkit-border-radius: 5px;
      border-radius: 5px;
      height: 150px;
    display:flex;
    align-items:center;
    text-align:center;
  }

  span {
    width:100%
  } 
  
  .flip {
    background: #FCFFF5;
      -webkit-transform: translateZ(70px);
      transform: translateZ(70px);
  }
  
  .flop {
    height:150px;
    background: #FFF;
      -webkit-transform: rotateX(-90deg) translateZ(-70px);
      transform: rotateX(-90deg) translateZ(-70px);
  }
  
  .cube:hover {
      -webkit-transform: rotateX(90deg);
      transform: rotateX(90deg);
  }

  .btn{
    display:block;
    width:200px;
    margin:0 auto;
    padding: 0px;
    color:#171717;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    line-height: 100px;
    border:"1px outset gray";
    background-image: linear-gradient(to right, #171717, transparent 50%);
    background-position: 100% 0%;
    background-size: 200% 100%;
    transition: 0.5s
}

.btn:hover{
    color:#F3F3F3;
    background-position: 0% 50%;
    box-shadow: 3px 3px  3px rgba(0,0,0,1)
}


@keyframes spin {
    0%  {-webkit-transform: rotatey(-180deg);}
    100% {-webkit-translate: rotatex(70px);}   
}