.profile-body{
    background-color:lightgrey;
    height: 1000px;

}
.container{
    width: 100%;
}

img{
  margin-top: 20px;
  margin-bottom: 30px;
  opacity: 0.75;
  position:relative;
  top: -100%;
  animation: fallIn 0.5s linear 1s forwards
}

.profile-title{
    position:relative;
    left:-100%;
    margin-top: 20px;
    color:#C5B358;
    animation-name: slideIn;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.5,.5,.5,1.5)
}
.profile-title span{
    color:#2f3337;
    margin-left: 20px;
}
#sidebar{
    height: 900px;
    width: 400px;
}

.profile-btn{
    display:block;
    width:400px;
    padding: 0px;
    color: #C5B358;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    line-height: 100px;
    border: 2px solid #C5B358;
    background-image: linear-gradient(to right, #171717, transparent 50%);
    background-position: 100% 0%;
    background-size: 200% 100%;
    border-radius: 5px;
    transition: 0.5s;
    margin-bottom: 5px;
    transition: 0.5s;
    opacity: 0;
    animation:fadeIn 1s linear 1.5s forwards
 
    

}
.profile-btn:hover{
    color:white;
    background-position: 0% 50%;
    box-shadow: 3px 3px  3px rgba(0,0,0,1)
}

@keyframes slideIn{
    from {left: -100%;} 
    to {left: 0%;}
}
@keyframes fallIn{
    from {top: -100%;} 
    to {top: 0%;}
}

@keyframes fadeIn{
    from {opacity: 0;} 
    to {opacity:1;}
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}